@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  height: 100%;
  font-family: "Outfit", Impact;
  text-align: center;
}

div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 320px;
  height: 497px;
  border-radius: 2rem;
  background-color: #fff;
  margin: 1rem;
  box-shadow: 0 2rem 2rem 0 hsl(212, 40%, 84%);
}

img {
  height: 55%;
  margin-top: 2rem;
  border-radius: 1rem;
}

h1,
p {
  margin: 2rem 3rem;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 2.125rem;
  font-weight: 700;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 1.5rem;
  font-weight: 400;
}
